<a href="/">
    <div class="m-3 p-2 h-16 rounded-md hover:bg-gray-400">
        <img class="float-left h-12 bg-white rounded-md mb-2 shadow-sm" src="{{site.data.shared.logo.url}}" alt="{{site.data.shared.logo.alt}}" />
        <div class="float-left pl-2 pt-1 pb-1">
            <h4 class="text-lg font-black leading-6 text-gray-800">{{site.data.shared.general.project.name}}</h1>
            <h5 class="text-xs font-base leading-4 tracking-wide text-gray-600">{{site.data.shared.general.project.slogan}}</h2>
        </div>
    </div>
</a>
